<!DOCTYPE html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styler1.css') }}">
</head>

<body>
<div class="topnav">
  <a href="{{ url_for('WeatherGUI') }}">WeatherNews</a>
  <a class="active">Disasters</a>
  <a href="{{ url_for('AboutGUI') }}">About</a>
</div>

<marquee direction="up" height="1000px" width="100%">
<div>
    <h1>Kerala Floods</h1>
    <p style="text-align: justify;">Since May 2018, unusually high levels of rain took over the state of Kerala. The devastation that ensued resembled that of the 1924 floods, which is popularly called the "Great Flood of 99." As of August 30, the final death toll, declared by Chief Minister Pinarayi Vijayan, stands at 483, and 15 people are missing.</p>

<p>The CM said reconstruction measures would be discussed on wider platforms and guidelines would be finalised by the Cabinet to avoid delays. He also reiterated his reservations about allowing construction in landslide- and flood-prone regions, especially in Idukki.&nbsp;</p>

<p>Presenting a resolution at the one-day special Assembly session to discuss the feasibility of environment-friendly constructions while rebuilding the flood-ravaged Kerala, Chief Minister Pinarayi Vijayan said that the state expects more relief from the Centre after the final assessment of damages in the catastrophic flood.&nbsp;</p>

<p>Pinarayi said different agencies from across the world have offered help. The World Bank team has held a discussion with the chief secretary. State's policy is to accept help from any quarters, if it is in line with the state's interests.&nbsp;</p>

<p>Livelihood restoration is essential for bringing back people to normal life. The economy is at a standstill. The chief minister said the service of fishermen was crucial in turning rescue operations a success.&nbsp;</p>

<p>The following timeline outlines some of the key events of the 2018 Kerala floods.</p></div>

</marquee>

</body>
</html>